{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<h2>Listings</h2>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">full name</th>
				<th scope="col">date</th>
				<th scope="col">description</th>
				<th scope="col">delete</th>
			</tr>
		</thead>
		<tbody>
			{% for listing in listings %}
				<tr>
					<td>{{listing.user.firstname ~ " " ~ listing.user.lastname}}</td>
					<td>{{listing.published|date('d/m/Y')}}
						at
						{{listing.published|date('H:i')}}</td>
					<td>{{listing.description}}</td>
					<td>
						<a href="{{ path('delete_listing', {id: listing.id}) }}" class="btn btn-dark text-white">delete</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
